* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --base-padding: 5px;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.logo,
.balance {
  margin: 20px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo,
.balance,
.spending-box,
.revenue-box {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.logo {
  height: 100px;
  width: 100px;
  font-size: 24px;
}

.balance {
  height: 80px;
  width: 1000px;
  font-size: 36px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1000px;
  margin: 20px auto;
}

.spending-box,
.revenue-box {
  width: 100%;
  padding: 20px;
}

.spending-text,
.revenue-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fill-inputs {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.btn-add {
  background-color: #2196f3;
  font-size: 16px;
}

.btn-add,
.btn-edit,
.btn-delete {
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-edit,
.btn-delete {
  font-size: 12px;
}

.btn-edit {
  background-color: #4caf50;
}
.btn-delete {
  background-color: #f44336;
}

.details {
  width: 100%;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 20px 0;
}

.details-output {
  list-style-type: none;
  margin-bottom: 20px;
}

.details-list-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-padding) 20px;
}

.details-list-element:nth-child(2n) {
  background-color: #f5f5f5;
}

.spacer {
  flex: 1;
}

.details-line::after {
  content: "-";
  padding: 0 var(--base-padding);
}

.details-output button:last-child {
  margin-left: var(--base-padding);
}

.details-output {
  font-size: 16px;
}

.summary {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-self: last baseline;
}

.summary-title {
  flex: 1;
}

.spending-result {
  color: #f44336;
}

.revenure-result {
  color: #4caf50;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .balance,
  .spending-box,
  .revenue-box,
  .details {
    width: 100%;
    max-width: 600px;
  }

  .balance {
    font-size: 28px;
  }
}
